@charset "UTF-8";

@font-face {/* Diversas fuentes se declaran acá*/
    font-family: Dungeon;
    src: url('../assets/fonts/DUNGRG__.TTF');
}
@font-face {
    font-family: PlayFair N;
    src: url('../assets/fonts/PlayfairDisplay-Regular.ttf');
}
@font-face {
    font-family: PlayFair ital;
    src: url('../assets/fonts/PlayfairDisplay-Italic.ttf');
}
body{ /*se establece una imagen de fondo que esté estática respecto al scroll y se repita verticalmente cuando sea neceario*/
    background-image: url('../assets/background.jpg');
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-color: powderblue;
    background-size: 100%;
}
iframe {
    max-width: 100%;
  }
img {/*La imagen quedará centrada y escalará automáticamente respecto a lo horizontal*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
  }
  img.button {/*especial para botones que lleven imágenes*/
    display: block;
    max-width: 80%;
    margin-bottom: 5em;
  }
h1 {/*Letra más grande tipo Dungeon, solo soporta carateres en inglés*/
	font-family: Dungeon;
	font-size: 64px;
	font-style: normal;
	font-weight: bold;
	color: #D20040;
	text-shadow: 1px 1px #000000;
	text-align: center;
	min-width:200px;
    max-width:840px;
    padding-top: 10px;
}
h2 {
	font-family: Dungeon;
	font-size: 48px;
	font-style: normal;
    font-weight: normal;
	color: #00DD64;
	text-align: left;
    max-width: 600px;
}
h3 {
	font-family: Dungeon;
	font-size: 32px;
	font-style: normal;
    font-weight: normal;
	color: #00adad;
	text-align: left;
    max-width: 1000px;
}
dt{/*Color para los títulos de tablas de descripción*/
    color: #27ac93;
}
table { /*La tabla de bordes grises que autoajusta su ancho*/
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: gray;
    width: 100%;
    border: 1px solid black;
  }
  th{/*lemento de tabla que tendrá cierto color con fondo con baja opacidad y bordes dobles*/
      text-align: left;
      height: 100%;
      border: 1px solid black;
      padding: 2px;
      background: rgba(235, 243, 235, 0.4);
  }
  td{/*centrar el texto en las casillas*/
      vertical-align: center;
      border: 1px solid black;
      padding: 5px;
  }
ul {/*Se configura así para generar buen espaciado respecto a arriba y abajo*/
  display: block;
  list-style-type: disc;
  margin-top: 6em;
  margin-bottom: 6em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}
ol {
    display: block;
    list-style-type: decimal;
    margin-top: 6em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
  }
  ul.colored{/*En caso de querer colorear las viñetas*/
      list-style-type: none;
  }
  ul.colored li::before {
    content: "\2022";  /* Unicode \2022 viñetas */
    color: #ff0076;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
  ul.colored2 li::before {
    content: "\2022";
    color: #00aaa6;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
a:link, a:visited { /*Personalizar los links para que hagan mejor contraste con los oclores de fonde*/
    font-family: PlayFair N;
	font-size: 16px;
    color: #7700FF;
    text-decoration: underline;
    text-align: justify;
    cursor: pointer;
  }
  
  a:link:active, a:visited:active {
    color: #FF0036;
  }
  a .textbutton{ /*este se us apara esconder texto en ciertos botones y que se muestre al pasar el mouse por encim*/
    font-family: PlayFair N;
	font-size: 14px;
    line-height: 1.3;
    font-style: normal;
    color: #dd3267;
	text-align: justify;
	min-width:200px;
    max-width:1800px;
    margin-top:10px;
	margin:25px;
	float:center;
    visibility: hidden;
  }
  a:hover .textbutton {
    visibility: visible;
  }
    .menunav {
        height: 100%;
        width: 242;
        position: fixed; /* Se qeda en el mismo lugar a pesar del scroll */
        z-index: 1; /* Siempre encima de todo lo demás */
        top: 0;
        left: 0;
        overflow-x: hidden;
        padding-top: 300px;/*Distancia semejante al centro de la página*/
        transition: 0.5s;
    }
  .menunav a {/*Configuración especial para los botones del menu de navegación*/
    padding: 10px;
    width: 5em;
    font-family: Dungeon;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    text-decoration: solid;
    color: #daca00;
    display: block;
    transition: 0.3s;
    background: rgba(145, 145, 145, 0.3);
    border: 1px #2535ff solid;
    border-radius: 25%;
  }

  .menunav a:hover {/*Al apsar el mouse sobre los botnes del menu*/
    color: #ffff00;
    text-shadow: 1px 1px #a1a1a1;
    background: #919191;
    cursor: pointer;
}
.text1 {/*Configuración de texto para parrafos en la izquierda*/
	font-family: PlayFair N;
	font-size: 16px;
    line-height: 1.3;
    font-style: normal;
    color: #DDDDDD;
	text-align: justify;
	min-width:200px; /* ancho de columna variable pero dentro de un rango*/
    max-width:1920px;
    margin-top:20px;
	margin:25px;
	float:left;
}

.text2 {/*Configuración para txto centrado*/
	font-family: PlayFair N;
	font-size: 16px;
    line-height: 1.3;
    font-style: normal;
    color: #FF0040;
	text-align: justify;
	min-width:200px; /* ancho de columna variable pero dentro de un rango*/
    max-width:1800px;
    margin-top:10px;
	margin:25px;
	float:center;
}

/* Que los contenedores hijos vayan a la izquierda*/
.float-comic {
    float: left;
    margin-right:5px;
}
/*a la derecha*/
.float-portrait {
    float: right;
    margin-right:5px;
}
.nocenter {/*para quitar el centrado*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
.center {/*para centrar*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }

.center2 {/*Para centrar y ocupar más espacio a lo ancho*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }

/* this is called a clearfix. it makes sure that the container's children floats are cleared, without using extra markup */

.clearfix {
    *zoom:1
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
/* Media queries para responsive */
@media only screen and (max-width: 700px) {
    .menunav {padding-top: 20px;}
    .menunav a {
        font-size: 16px;
        width: 3.5em;
        text-align: left;
    }
    iframe {
        width: 420px;
        height: 380px;
    }
}

@media only screen and (min-width: 700px) and (max-width: 900px) {
    .menunav {padding-top: 100px;}
    .menunav a {
        font-size: 20px;
        width: 4em;
        text-align: left;
    }
}

@media only screen and (min-width: 900px){
    .menunav {padding-top: 300px;}
}